.container {
  align-items: center;
  background: #adefd1;
  border-radius: 50%;
  color: #00203f;
  display: flex;
  font-size: x-large;
  font-weight: bold;
  height: 35px;
  justify-content: center;
  transition: 0.6s ease;
  user-select: none;
  width: 35px;
}

.container:hover {
  background: gold;
  transition: 0.6s ease;
}
