.input-container {
  padding: 0.5vmax 0 !important;
  flex: 1 !important;
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
}

.input {
  background: #adefd1 !important;
  border-radius: 100vmax !important;
  border: 0.25vmax solid #00203f !important;
  color: #00203f !important;
  font-size: x-large !important;
  font-weight: 900 !important;
  padding: 1vmax !important;
  width: 100% !important;
}

.input:hover {
  cursor: default !important;
}

.checkbox {
  border-radius: 0 !important;
}

.input::placeholder {
  color: #00203f !important;
}

label {
  padding: 0 0.5vmax !important;
  color: #00203f !important;
  font-size: x-large !important;
  font-weight: 900 !important;
}
