.container {
  background: #adefd1;
  color: #00203f;
  font-weight: bold;
  font-size: x-large;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s ease;
}

.container:hover {
  background: gold;
  transition: 0.6s ease;
}
