.modal {
  background-color: transparent !important;
}

.modal-header {
  border-bottom: 0 none !important;
}

.modal-footer {
  border-top: 0 none !important;
  justify-content: flex-start !important;
}

.container {
  display: flex;
}

.card {
  background: #00203f !important;
}

.card-body {
  display: flex;
}

.report-category-container {
  flex: 1;
  font-size: x-large;
  display: flex;
  align-items: center;
  text-align: center;
}

.report-date-time-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  text-align: center;
  margin: 0 1vmax;
}

.icons-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

.report-status-icon,
.report-status-icon-unchecked {
  font-size: xx-large;
  margin: 0 0.5vmax;
}

.report-status-icon {
}

.report-status-icon-unchecked {
  color: tomato;
}

.report-details-icon {
  font-size: xx-large;
}

li {
  background: #00203f;
  border-radius: 15px;
  color: #adefd1;
  list-style-type: none;
  margin: 2vmax !important;
}
