.modal {
  background-color: transparent !important;
}

.modal-header {
  border-bottom: 0 none !important;
}

.modal-footer {
  border-top: 0 none !important;
  justify-content: flex-start !important;
}

.container {
  display: flex;
}

.card {
  background: #00203f !important;
  transition: 0.6s ease;
}

.card:hover {
  background: #295abb !important;
  transition: 0.6s ease;
}

.card:hover .report-category-container {
  color: gold !important;
}

.card:hover .report-date-time-container,
.card:hover .report-date-time-container-second-layout {
  color: gold !important;
}

.card-body {
  display: flex;
}

.report-category-container {
}

.report-date-time-container {
  justify-content: center;
  margin: 0 1vmax;
  transition: 0.6s ease;
}

.report-date-time-container-second-layout {
  font-size: x-large;
  user-select: none;
}

.icons-container {
  justify-content: flex-end;
}

.report-category-container,
.report-date-time-container {
  font-size: x-large;
  text-align: center;
  user-select: none;
}

.report-category-container,
.report-date-time-container,
.icons-container {
  align-items: center;
  display: flex;
  flex: 1;
}

.report-status-icon,
.report-status-icon-unchecked {
  font-size: xx-large;
  margin: 0 0.5vmax;
}

.report-status-icon {
  color: gold;
}

.report-status-icon-unchecked {
  color: crimson;
}

.report-details-icon {
  font-size: xx-large;
  color: gold;
}

li {
  background: #00203f;
  border-radius: 15px;
  color: #adefd1;
  list-style-type: none;
  margin: 2vmax !important;
}
