.overall-container {
  align-items: center;
  background: #00203f;
  display: flex;
  flex: 1;
  justify-content: center;
  color: #adefd1;
  user-select: none;
}

.content-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* .content-container:hover {
  color: gold;
  transition: 0.6s ease;
} */

.application-name {
  font-size: xx-large;
  font-weight: 900;
  margin: 1em;
  /* transition: 0.6s ease; */
}

.spinner {
  font-size: xx-large !important;
  font-weight: 900 !important;
  /* transition: 0.6s ease; */
}
