.navbar {
  background: #00203f !important;
  user-select: none !important;
}

.sign-out-icon {
  font-size: xx-large !important;
  transition: 0.6s ease !important;
}

.sign-out-icon:hover {
  color: gold !important;
  transition: 0.6s ease !important;
}
