.navbar {
  background: #00203f !important;
  color: red;
}

.logo {
  user-select: none;
  color: #adefd1 !important;
  font-size: x-large !important;
  transition: 0.6s ease !important;
  font-weight: bold !important;
}

.logo:hover {
  transition: 0.6s ease !important;
  color: gold !important;
}
