.container {
  display: flex;
}

.card {
  background: #00203f !important;
  transition: 0.6s ease;
}

.card:hover {
  background: #295abb !important;
  transition: 0.6s ease;
}

.card:hover .user-name-container {
  color: gold !important;
}

.card:hover .user-level-container,
.card:hover .user-level-container-second-layout {
  color: gold !important;
}

.card-body {
  display: flex;
}

.user-name-container,
.user-level-container,
.user-level-container-second-layout {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user-level-container {
  justify-content: center;
  margin: 0 1vmax;
  transition: 0.6s ease;
}

.user-level-container-second-layout {
  font-size: x-large;
  user-select: none;
}

.icons-container {
  justify-content: flex-end;
}

.user-name-container,
.user-level-container {
  font-size: x-large;
  text-align: center;
  user-select: none;
}

.user-name-container,
.user-level-container,
.icons-container {
  align-items: center;
  display: flex;
  flex: 1;
}

.user-details-icon {
  font-size: xx-large;
  margin: 0 0.5vmax;
  color: gold;
}

li {
  background: #00203f;
  border-radius: 15px;
  color: #adefd1;
  list-style-type: none;
  margin: 2vmax 10vmax !important;
}

@media screen and (max-width: 1000px) {
  li {
    margin: 2vmax 8vmax !important;
  }
}
