.container {
  flex: 1 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.form {
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
}
